@media all and (min-width: 480px) {
    .change {
      padding: 20px 0;
      padding-bottom: 60px;
    }
  
    .change form {
      margin: 0 auto;
      max-width: 320px;
    }
  }
.backButton {
    margin-left: 20px;
}