.Dashboard .lander {
    padding: 80px 0;
    text-align: center;
  }
  
  .Dashboard .lander h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
  }

#spacer {
  margin-top: 30px;
}

.wrapper {
  margin: 30px;
}

.export {
  margin-right: 15px;
  margin-left: 15px;
}

.smallSpace {
  margin-top: 15px;
}

.exportButton {
  border: none;
  background: gray;
  color: white;
  border-radius: 10px;
  font-size: 15px;
  padding: 10px;
}
.exportButton:hover {
  background: lightgray;
}

#brand {
  color: rgb(109, 105, 105);
}