@media all and (min-width: 480px) {
    .FPassword {
      padding: 20px 0;
      padding-bottom: 60px;
    }
  
    .FPassword form {
      margin: 0 auto;
      max-width: 320px;
    }
  }
#heading {
    text-align: center;
    align-self: center;
  }

#subheading {
    padding: 10px 0;
    text-align: center;
    align-self: center;
    color: gray;
}

#spacer {
    margin-top: 50px;
}