.Home .lander {
    padding: 40px 0;
    text-align: center;
  }
  
.Home .lander h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

#main_logo {
  width: 75vw;
}

#sub {
  color: black;
  margin-top: 20px;
}

#signup {
  padding-top: 10px;
  cursor: pointer;
}

#signup:hover {
  color: blue;
}




