#spacer {
    margin-top: 15px;
  }

#spacer2 {
    margin-top: 8px;
  }

#bottom_spacer {
    margin-top: 100px;
}

#company_info {
    color: gray;
}

.exportButton {
    border: none;
    background: gray;
    color: white;
    border-radius: 10px;
    font-size: 15px;
    padding: 10px;
}